<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
</head>
<body>
    <%- include('partical/menu'); %> 
    <h1>Welcome to Home Page</h1>
</body>
</html>
